.buttons-container {
  list-style-type: none;
}
.calender-container {
  display: flex;
  flex-direction: row;
}
.imageUrlDesign {
  height: 150px;
  width: 200px;
}
.calender-paragraph {
  margin: 0px;
  margin-left: 5px;
  font-size: 19px;
}
.react-icon-design {
  height: 22px;
  width: 22px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .calender-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 7px;
  }
  .project-description {
    margin: 0px;
    font-size: 17px;
    margin-bottom: 6px;
  }
  .imageUrlDesign {
    height: 290px;
    width: 350px;
  }
  .anchorEl {
    font-size: 21px;
    margin-top: 7px;
    margin-bottom: 6px;
  }.project-title-heading{
    font-size: 24px;
    margin-bottom: 15px;
  }
}
